@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500;1,600&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:ital,wght@0,600;1,500;1,600&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

* {
    padding: 0px;
    margin: 0px;
}


:root {
    --color-first: #053F5C;
    --color-second: #429ebd;
    --color-third: #f27f0c;
}


h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 50px;  
    text-align: center; 
    text-transform: uppercase; 
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

h3 {    
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;    
    line-height: 25px;    
    text-align: center;
    margin-bottom: 10px;
    }


h4 {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.100em;
    margin: 10px;
    line-height: 1.5em;
    }


body {
    display: flex;
    flex-direction: column;
    color: var(--color-second);
    margin: 5px;
    padding: 5px;
}


.foto-link {
    position: relative;
    display: inline-block;
    
}

.img-link {
    position: absolute;
    top:35px;
    left: 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 40px;
    color: #fff ;
}


.img-link1 {
    position: absolute;
    top:35px;
    left: 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    color:#fff;
}

.img-link2 {
    position: absolute;
    top:40px;
    left: 80px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    color:#fff;
}

.img-link3 {
    position: absolute;
    top:35px;
    left: 80px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    color:#fff;
}


.serrafina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    background: #429ebd;
    border: none;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.100em;
    margin-bottom: 10px;
    line-height: 1.5em;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.botoes-agenda{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    margin: 10px;
   
}

button a {
    text-decoration: none;
    color: #fff;
}

/*PARTE CSS DO HEADER*/

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.menu-logo {   
    width: 200px;
}


ul li {
    width: 200px;
    height: 30px;
    justify-content: flex-start;
    display: flex;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    background: #429EBD;
    }

ul li a {
    border: none;
}

/*Parte CSS do FOOTER*/

.logo-ff {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    border: solid 1px #429ebd;
    background: #fff;
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    
}

.formulario-tel {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.formulario-mensagem {
    display: flex;
    width: 350px;
    height: 400px;    
    justify-content: center;
}

input[type="submit"]{
    background: #429ebd;
    color: #fff;
}

.input-a {
    color: #fff;
}

::placeholder {
    color: #429ebd;
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    background: #fff;    
}

.line {
    border-top: solid 2px #429ebd;
    margin-top: 20px;
}

   
.btn-info {
    background: #429ebd;
    border: none;
    width: 100px;
    color:#fff;
}
/*Fim do css do footer*/
